##########
# python #
##########
*.pyc
*.egg-info
*.eggs
build


########
# node #
########
.tmp
dist
node_modules
bower_components


#######
# sass #
#######
.sass-cache


#######
# etc #
#######
.DS_Store
.cache